.wrapper {
    background-image: url('/src/assets/background.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
}

.content h1 {
    font-family: "Comic Neue", cursive;
    font-weight: 900;
    font-style: normal;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.start-btn {
    background: linear-gradient(180deg, rgb(221, 157, 67), rgb(123, 87, 11), rgb(158, 112, 38), rgb(43, 30, 10));
    width: 10rem;
}

.start-btn:hover {
    animation: wiggle 0.3s ease-in-out infinite;
}

@keyframes wiggle {

    0%,
    100% {
        transform: rotate(-3deg);
    }

    50% {
        transform: rotate(3deg);
    }
}

/* .emoji div {
    position: absolute;
    font-size: 2.5rem;
    color: white;
}

.emoji div:nth-child(1) {

    top: 72%;
    left: 10%;
    animation: animate 7s linear infinite;
}

.emoji div:nth-child(2) {
    top: 70%;
    left: 70%;
    animation: animate 12s linear infinite;
}

.emoji div:nth-child(3) {
    top: 60%;
    left: 40%;
    animation: animate 9s linear infinite;
}

.emoji div:nth-child(4) {
    top: 90%;
    left: 90%;
    animation: animate 13s linear infinite;
}

.emoji div:nth-child(5) {
    top: 45%;
    left: 90%;
    animation: animate 16s linear infinite;
}

.emoji div:nth-child(6) {
    top: 8%;
    left: 60%;
    animation: animate 11s linear infinite;
}

.emoji div:nth-child(7) {
    top: 10%;
    left: 20%;
    animation: animate 14s linear infinite;
}

.emoji div:nth-child(8) {
    top: 80%;
    left: 50%;
    animation: animate 7s linear infinite;
}

.emoji div:nth-child(9) {
    top: 92%;
    left: 20%;
    animation: animate 8s linear infinite;
}

.emoji div:nth-child(10) {
    top: 12%;
    left: 80%;
    animation: animate 10s linear infinite;
}

.emoji div:nth-child(11) {
    top: 43%;
    left: 40%;
    animation: animate 9s linear infinite;
}

.emoji div:nth-child(12) {
    top: 32%;
    left: 50%;
    animation: animate 10s linear infinite;
}

.emoji div:nth-child(13) {
    top: 50%;
    left: 60%;
    animation: animate 7s linear infinite;
}

.emoji div:nth-child(14) {
    top: 30%;
    left: 30%;
    animation: animate 9s linear infinite;
}

@keyframes animate {
    0% {
        transform: scale(0) translateY(0) rotate(0);
        opacity: 1;
    }

    100% {
        transform: scale(1.3) translateY(-90px) rotate(360deg);
        opacity: 1;
    }
} */