.wrapper {
    background-image: url('/src/assets/background.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
}

.content h1 {
    font-family: "Comic Neue", cursive;
    font-weight: 900;
    font-style: normal;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.start-btn {
    background: linear-gradient(180deg, rgb(221, 157, 67), rgb(123, 87, 11), rgb(158, 112, 38), rgb(43, 30, 10));
    width: 10rem;
}

.start-btn:hover {
    animation: wiggle 0.3s ease-in-out infinite;
}

@keyframes wiggle {

    0%,
    100% {
        transform: rotate(-3deg);
    }

    50% {
        transform: rotate(3deg);
    }
}