.main-wrapper {
    background-image: url('/src/assets/game-bg.png');
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.game-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.game-content div:nth-child(1) {
    position: absolute;
    top: -5px;
    right: 10px;
}

.game-content div:nth-child(2) {
    position: absolute;
    bottom: 20px;
    left: 5%;
    height: auto;
    width: 20rem;
}

.back-home-btn {
    background: linear-gradient(180deg, rgb(221, 157, 67), rgb(123, 87, 11), rgb(158, 112, 38), rgb(43, 30, 10));
    width: 10rem;
}

.back-home-btn:hover {
    animation: wiggle 0.3s ease-in-out infinite;
}

@keyframes wiggle {

    0%,
    100% {
        transform: rotate(-3deg);
    }

    50% {
        transform: rotate(3deg);
    }
}

@media screen and (max-width: 1094px) {
    .game-content div:nth-child(2) {
        left: 10px;
    }
}

@media screen and (max-width: 930px) {
    .game-content div:nth-child(1) img {
        width: 10rem;
        height: 12rem;
    }

    .game-content div:nth-child(2) img {
        width: 10rem;
        height: 18rem;
    }

}

@media screen and (max-width: 490px) {
    .game-content div:nth-child(1) img {
        width: 8rem;
        height: 8rem;
    }

    .game-content div:nth-child(2) img {
        width: 9rem;
        height: 12rem;
    }

}